<footer class="md-footer">
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid footer-custom">

      <!-- Section 1 -->
      <div class="footer-col footer-left">
        <strong>Flask Training Guide</strong>
      </div>

      <!-- Section 2 -->
      <div class="footer-col footer-center">
        © 2025 Ctrl+C Ctrl+V Devs
      </div>

      <!-- Section 3 -->
      <div class="footer-col footer-right">
        Made by<br>
        Rahul · Nikunj · Neel · Dhvanil · Mansi · Darshit
      </div>

    </div>
  </div>
</footer>
